
body, html {
  background-color: rgb(255, 255, 255);
  color: #040f16;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  scroll-behavior: smooth;
}
.title {
  width: calc(100% - 20px);
  margin:10px;
}
.title h2 {
 color:white ; 
 padding: 10px;
 font-size: 2rem  ;
 text-align: center;
 background-color: #1f2229;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
 /* ========================== en tete nav barre + titre avec photo  */
header{
  width: 100%;
  height: auto;
  background-color: white;
  margin: 0 auto;
  color: #040f16;
}
/* ========================== nav barre */
#box-nav{
  width: 100%;
  padding: 0;
  background-color: #1f2229;
  position: fixed;
  overflow: hidden;
  z-index: 10;
  text-align: center;
}
#main-nav{
  width: 70%;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  display: inline-block;
}
#main-nav ul{
  height: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-direction: row;
  justify-content: center;
}
#main-nav li{
  width: 10%;
}
#main-nav a{
  display: block;
  background-color: #1f2229 ;
  color: #fbfbff;
  line-height: 50px;
  text-decoration: none;
  text-align: center;
}
#main-nav a:hover{
  background-color: #2e3138 ;
}

div#nav-logo {
width:30%;
justify-content: center;
align-items: center;
}
div#nav-logo figure {
  background-image: url(../img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 500px;
  height: 50px;
  margin: auto;
}
/* ========================== titre et presentation */

div#pres-resto {
  width: 100%;
  height:auto;
  margin: 0;
  padding: 0;
}
div#pres-resto #pres-resto-text {
  width: 100%;
  height:500px;
  background-image: url(../img/burger.jpg);
  background-position: center ;
  background-repeat:no-repeat;
  background-size: cover;
  justify-content: flex-start;
  align-items: center;
}
div#pres-resto #pres-resto-text h1{
color: white;
margin-left: 100px;
font-size: 20px;
font-weight: 300;
line-height:30px;
}

/* ========================== zone des plats et menu */
.espace-parralax{
  background-image: url(../img/parralax.jpg);
  height: 30rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section#pin-dishes {
  width:80%;
  height:auto ;
  margin: 0 auto;
  padding: 100px 0px 0px 0px;
}

div.container-dishes {
 width: 100%;
 height: auto;
 margin: 0 auto;
}
div.container-dishes div.dishes-bloc {
  width: calc(33.3% - 20px);
  margin:10px;
  
}
div.container-dishes div.dishes-bloc div.dishes-img {
width:100%;
height: auto; 
position: relative;
}
div.container-dishes div.dishes-bloc div.dishes-img figure {
width: 100%;
height: 300px;
background-size:cover ;
background-position: center;
background-repeat: no-repeat;
margin: 0;
}
div.container-dishes div.dishes-bloc:nth-of-type(1) div.dishes-img figure {
  background-image: url(../img/indianaburger.jpg);
  }
div.container-dishes div.dishes-bloc:nth-of-type(2) div.dishes-img figure {
    background-image: url(../img/dongorske.jpg);
  }
div.container-dishes div.dishes-bloc:nth-of-type(3) div.dishes-img figure {
      background-image: url(../img/saladecobb.jpg);
  }
div.container-dishes div.dishes-bloc:nth-of-type(4) div.dishes-img figure {
        background-image: url(../img/salmonsalad.png);
  }
div.container-dishes div.dishes-bloc:nth-of-type(5) div.dishes-img figure {
          background-image: url(../img/milkshake.jpg);
  }
div.container-dishes div.dishes-bloc:nth-of-type(6) div.dishes-img figure {
            background-image: url(../img/cafegourmand.jpg);
  }
div.container-dishes div.dishes-bloc div.dishes-img .text-survol-dishes {
position: absolute;
bottom: 0;
top: 0;
width:100%;
height: 300px;
transition: 0.5s all;
filter: opacity(0);
justify-content: center;
align-items: center;
font-size: 3em;
color: white;
background-color: #1f2229;
}

div.container-dishes div.dishes-bloc div.dishes-img .text-survol-dishes p:hover {
  filter: opacity(1);
}

div.container-dishes div.dishes-bloc div.dishes-img .text-survol-dishes:hover {
  position: absolute;
  bottom: 0;
  width:100%;
  height: 300px;
  
  transition: 0.5s all;
  filter: opacity(0.8);
}

/* ========================== zone menu du resto  */
#menu-box{
  text-align: left;
  margin: 0 auto;
  width: 80%;
  padding: 100px 0px 0px 0px;
}
#title-menu{
  width: calc(100% - 20px);
  margin: 10px;
}
.menu-box-column{
  color: #1f2229;
  width: calc(50% - 30px);
  margin: 10px;
}
.menu-box-column-dessert{
  color: #1f2229;
  width: calc(100% - 20px);
  margin: 10px;
}
.menu-box-column h3, .menu-box-column-dessert h3{
  color: white;
  background-color: #C72C41;
  padding: 10px;
  font-size: 1.75rem;
}
.menu-box-column h4{
  color: #1f2229;
  font-size: 1.4rem;
  margin: 0;
}
.menu-box-column h5{
  color: #C72C41;
  margin: 0;
  font-size: 1rem;
}
.menu-box-column p{
  color: #1f2229;
  margin-top: 0.5rem;
}
.menu-box-column span, .menu-box-column-dessert span{
  color: #C72C41;
  font-size: 1.5rem;
}
.menu-box-column div, .menu-box-column-dessert div{
  color: #1f2229;
  margin-bottom: 1.5rem;
  
}

/* ========================== zone contact ards + tel, etc.. */
#contact{
  margin: 0 auto;
  width: 80%;
 padding: 100px 0px 100px 0px;
  background-color: #ffffff;
  text-align:left;
}
#container-contact{
  width: calc(100% - 20px);
  margin: 10px;
  color: white;
}
#contact-img{
  background-image: url(../img/contact-left.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30rem;
  width: 50%;
}
#contact-block-formulaire{
  background-color: #C72C41;
  text-align: left;
  vertical-align: middle;
  width: 50%;
}

.contact-block-formulaire-type{
  padding: 0.5rem 0;
  width: 100%;
  margin-left: 1rem;
}
.contact-block-formulaire-type input,textarea{
  padding: 0.3rem;
  background-color: #ffffff;
  resize: auto;
  border: 0;
}
#contact-submit{
  padding: 0.2rem;
  background-color: #1f2229;
  color: white;
  margin-left: 1rem;
  padding: 10px;
  border: 0;
  font-family: 'Roboto', sans-serif;
  transition: all 0.5s;
}
#contact-submit:hover{
 color: white;
 background-color: #C72C41;
  border: 0;
  transition: all 0.5s;
  cursor: pointer;
}
/* ========================== pied de page les mention legales */

footer {
  width: 100%;
  height: auto;

}
footer div#info {
  width: 50%;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color:#1f2229;
}
footer div#info #info-co {
  margin: 0 auto;
  width: 80%;
 }
footer div#info #info-co h2{
 color: white;
 font-weight: 300;
}
footer div#info #info-co ul {
  width: 100%;
  height: auto;
  font-weight: 300;
  padding: 0;
 
}

footer div#info #info-co ul li{ 
  width:100%;
  height: auto;
  list-style: none;
  color: white;
  font-size:20px;
  margin-bottom: 20px;
  display: inline-block;

}
footer div#info #info-co ul li i{ 
color:#C72C41;  
padding-right: 25px;
}
footer div#maps {
  width: 50%;
  height: 400px;
}
footer div#copyright {
  width: 100%;
  height: auto;
  background-color:#C72C41;
  color: white;
  text-align:center;
}







/* ========================== Responsive */
@media screen and (max-width: 1100px) {
  .center {
    display: block;
    width: 100%;
  }
  div#pres-resto #pres-resto-text h1 {
    margin-left: 3.5em;
  }
  section#pin-dishes {
    width: 95%;
  }
  div.container-dishes div.dishes-bloc {
    width: calc(50% - 20px);
    margin: 10px;
  }

} 
@media screen and (max-width:768px) {
  .center {
    display: block;
    width: 100%;
  }
  #main-nav li {
    width: 30%;
  }
  div#nav-logo figure {
    background-image: url(../img/logo-responsive.png)!important;
    height: 40px;
  }
  div.container-dishes div.dishes-bloc {
    width: calc(100% - 20px);
    margin: 10px;
  }
  div.container-dishes div.dishes-bloc div.dishes-img .text-survol-dishes {
   
    background-color: #1f2229;
    filter: opacity(0.7);
    color: white;
  }
  
  #menu-box {
    width: 95%;
  }
  .menu-box-column {
    width: 100%;
  }
  #contact {
    width: 95%;
  }
  form {
    padding: 20px;
  }
  .contact-block-formulaire-type input, textarea {
    width: 100%;
    padding: 0.3rem 0rem 0.3rem 0rem;
  }
  .contact-block-formulaire-type textarea {
    height: 10rem;
  }
  #contact-submit {
    margin-left: 0;
  }
  .contact-block-formulaire-type {
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
  }
  #contact-img {
    width: 100%;
    height: 15rem;
  }
  #contact-block-formulaire {
    width: 100%;
  }
  footer div#info {
    width:100%
  }
  footer div#maps {
    width:100%;
  }
} 
@media screen and (max-width:425px) {
  
  div#nav-logo  {
    width: 100%;
    transition: all 0.5s;
    }
    div#nav-logo figure {
      margin: 10px;
    }
    #main-nav {
    width: 100%;
    transition: all 0.5s;
    display: none;
  }
  #main-nav ul {
    height: auto;
    flex-direction: column;
    text-align: center;
  }
  #main-nav li {
    width: 100%;
   
  }
  
  div#pres-resto #pres-resto-text h1 {
    margin: 0;
    text-align: center;
  }
  section#pin-dishes, #menu-box, #contact {
    padding-top: 50px;
  } 
  div.container-dishes div.dishes-bloc:nth-of-type(1) div.dishes-img figure {
    height: 200px;
  }
  div.container-dishes div.dishes-bloc:nth-of-type(2) div.dishes-img figure {
    height: 200px;
  }
  div.container-dishes div.dishes-bloc:nth-of-type(3) div.dishes-img figure {
    height: 200px;
  }
  div.container-dishes div.dishes-bloc:nth-of-type(4) div.dishes-img figure {
    height: 200px;
  }
  div.container-dishes div.dishes-bloc:nth-of-type(5) div.dishes-img figure {
    height: 200px;
  }
  div.container-dishes div.dishes-bloc:nth-of-type(6) div.dishes-img figure {
    height: 200px;
  }
  
  div.container-dishes div.dishes-bloc div.dishes-img .text-survol-dishes {
    max-height: 200px;
  }
  footer div#info #info-co {
    width: 95%;
  }
  .espace-parralax {
    height: 10rem;
  }
  .menuactive {
    transition: all 0.5s;
    display:block!important;
  }
  
}