
body, html {
  background-color: rgb(255, 255, 255);
  color: #040f16;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
 /* ========================== en tete nav barre + titre avec photo  */
header{
  width: 100%;
  height: auto;
  background-color: white;
  margin: 0 auto;
  color: #040f16;
}
/* ========================== nav barre */
#box-nav{
  width: 100%;
  padding: 0;
  background-color: #1f2229;
 
  overflow: hidden;
  z-index: 10;
  text-align: center;
}
#main-nav{
  width: 70%;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  display: inline-block;
}
#main-nav ul{
  height: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-direction: row;
  justify-content: center;
}
#main-nav li{
  width: 10%;
}
#main-nav a{
  display: block;
  background-color: #1f2229 ;
  color: #fbfbff;
  line-height: 50px;
  text-decoration: none;
  text-align: center;
}
#main-nav a:hover{
  background-color: #2e3138 ;
}

div#nav-logo {
width:30%;
justify-content: center;
align-items: center;
}
div#nav-logo figure {
  background-image: url(../img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin:0

}
/* ========================== titre et presentation */

div#pres-resto {
  width: 100%;
  height:auto;
  margin: 0;
  padding: 0;
}
div#pres-resto #pres-resto-text {
  width: 100%;
  height:400px;
  background-image: url(../img/burger.jpg);
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  justify-content: flex-start;
  align-items: center;
}
div#pres-resto #pres-resto-text h1{
color: white;
margin-left: 100px;
font-size: 20px;
font-weight: 300;
}

/* ========================== zone des plats et menu */
.espace-parralax{
  background-image: url('../img/parralax.jpg');
  height: 30rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-weight: 300;
  padding: 1%;
}

p {
  padding: 1%;
}

.row {
  display: flex;
  font-family: 'Roboto', sans-serif;
}

.column {
  flex: 50%;
  padding: 1%;
}

img {
  height: 15em;
  width: 17em;
  margin-left: 30%;
  margin-right: 30%;
}

/* ========================== zone contact ards + tel, etc.. */
#contact-block-formulaire{
  display: inline-block;
  text-align: left;
  margin: 0 2rem;
  padding-top: 50px;
}
.contact-block-formulaire-type{
  padding: 0.5rem 0;
  float: left;
  width: 90%;
}
.contact-block-formulaire-type input,textarea{
  border-radius: 1rem;
  padding: 0.3rem;
  background-color: #fbfbff;
  border: 0.1rem solid #040f16;
  font-family: 'Roboto', sans-serif;
}

/* ========================== pied de page les mention legales */

footer {
  width: 100%;
  height: 10vh;
  background-color: #1f2229 ;
}