
body, html {
  background-color: rgb(255, 255, 255);
  color: #040f16;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}
 /* ========================== en tete nav barre + titre avec photo  */
header{
  width: 100%;
  height: auto;
  background-color: white;
  margin: 0 auto;
  color: #040f16;
}
/* ========================== nav barre */
#box-nav{
  width: 100%;
  padding: 0;
  background-color: #343E59;
  display: block;
  overflow: hidden;
  z-index: 10;
  text-align: center;
}
#main-nav{
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  display: inline-block;
}
#main-nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#main-nav li{
  display: inline-block;
}
#main-nav a{
  display: inline-block;
  background-color: #343E59 ;
  color: #fbfbff;
  text-decoration: none;
  text-align: center;
  padding: 1rem 1rem;
  border-bottom: 0.3rem solid #0b4f6c;
}
#main-nav a:hover{
  color: #040f16;
  border-bottom: 0.3rem solid #01baef;
  background-color:#0b4f6c;
  text-decoration: none;
}
/* ========================== titre et presentation */
.flex {
  display: flex;
  flex-wrap: wrap;
}
div#pres-resto {
  width: 100%;
  height:auto;
  margin: 0;
  padding: 0;
}
div#pres-resto #pres-resto-img {
  width: 50%;
  height:auto;
  background-image: url(../img/pres.jpg);
  background-position: center;
}

div#pres-resto div#pres-resto-text {
  width: 50%;
  height:500px;
 color: black;
}

/* ========================== zone des plats et menu */

/* ========================== zone contact ards + tel, etc.. */
#contact-block-formulaire{
  display: inline-block;
  text-align: left;
  margin: 0 2rem;
  padding-top: 50px;
}
.contact-block-formulaire-type{
  padding: 0.5rem 0;
  float: left;
  width: 90%;
}
.contact-block-formulaire-type input,textarea{
  border-radius: 1rem;
  padding: 0.3rem;
  background-color: #fbfbff;
  border: 0.1rem solid #040f16;
  font-family: 'Roboto', sans-serif;
}

/* ========================== pied de page les mention legales */

footer {
  width: 100%;
  height: 10vh;
  background-color: #343E59 ;
}