
body, html {
  background-color: rgb(255, 255, 255);
  color: #040f16;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
 /* ========================== en tete nav barre + titre avec photo  */
header{
  width: 100%;
  height: auto;
  background-color: white;
  margin: 0 auto;
  color: #040f16;
}
/* ========================== nav barre */
#box-nav{
  width: 100%;
  padding: 0;
  background-color: #1f2229;
 
  overflow: hidden;
  z-index: 10;
  text-align: center;
}
#main-nav{
  width: 70%;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  display: inline-block;
}
#main-nav ul{
  height: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-direction: row;
  justify-content: center;
}
#main-nav li{
  width: 10%;
}
#main-nav a{
  display: block;
  background-color: #1f2229 ;
  color: #fbfbff;
  line-height: 50px;
  text-decoration: none;
  text-align: center;
}
#main-nav a:hover{
  background-color: #2e3138 ;
}

div#nav-logo {
width:30%;
justify-content: center;
align-items: center;
}
div#nav-logo figure {
  background-image: url(../img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 500px;
  height: 50px;
  margin: auto;
  

}
/* ========================== titre et presentation */

div#pres-resto {
  width: 100%;
  height:auto;
  margin: 0;
  padding: 0;
}
div#pres-resto #pres-resto-text {
  width: 100%;
  height:400px;
  background-image: url(../img/burger.jpg);
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  justify-content: flex-start;
  align-items: center;
}
div#pres-resto #pres-resto-text h1{
color: white;
margin-left: 100px;
font-size: 20px;
font-weight: 300;
line-height:30px;
}

/* ========================== zone des plats et menu */
.espace-parralax{
  background-image: url(../img/parralax.jpg);
  height: 30rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-weight: 300;
  padding: 1%;
}

p {
  padding: 1%;
}

.row {
  display: flex;
  font-family: 'Roboto', sans-serif;
}

.column {
  flex: 50%;
  padding: 1%;
}

img {
  height: 15em;
  width: 17em;
  margin-left: 30%;
  margin-right: 30%;
}

/* ========================== zone contact ards + tel, etc.. */
#contact{
  margin: 0 auto;
  width: 80%;
  padding-bottom: 2rem;
  background-color: #ffffff;
  text-align: center
}
#contact-img{
  background-image: url(../img/contact-left.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 40%;
  height: 30rem;
}
#contact-block-formulaire{
  display: inline-block;
  width: 50%;
  text-align: left;
  margin: 0 2rem;
  padding-top: 2rem;
}
.contact-block-formulaire-type{
  padding: 0.5rem 0;
  float: left;
  width: 100%;
}
.contact-block-formulaire-type input,textarea{
  padding: 0.3rem;
  background-color: #ffffff;
  border: 0.2rem solid #1f2229;
  font-family: 'Roboto', sans-serif;
}
#contact-submit{
  padding: 0.2rem;
  background-color: #ffffff;
  border: 0.2rem solid #1f2229;
  font-family: 'Roboto', sans-serif;
}
#contact-submit:hover{
  background-color: #ddddee;
  border: 0.2rem solid #000000;
}
/* ========================== pied de page les mention legales */

footer {
  width: 100%;
  height: auto;

}
footer div#info {
  width: 50%;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color:#1f2229;
}
footer div#info #info-co {
  margin: 0 auto;
  width: 80%;
 }
footer div#info #info-co h2{
 color: white;
 font-weight: 300;
}
footer div#info #info-co ul {
  width: 100%;
  height: auto;
  font-weight: 300;
  padding: 0;
 
}

footer div#info #info-co ul li{ 
  width:100%;
  height: auto;
  list-style: none;
  color: white;
  font-size:20px;
  margin-bottom: 20px;
  display: inline-block;

}
footer div#info #info-co ul li i{ 
color:#C72C41;  
padding-right: 25px;
}



footer div#maps {
  width: 50%;
  height: 400px;
}
footer div#copyright {
  width: 100%;
  height: auto;
  background-color:#C72C41;
  color: white;
  text-align:center;
}